body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_testimonials1CardContainer
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#testimonials1CardContainer
{
   display: flex;
   position: relative;
   padding: 50px 10px 50px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: stretch;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0;
}
@media all and (max-width:768px) 
{
#testimonials1CardContainer
{
   flex-direction: column;
   flex-wrap: nowrap;
}
}
#wb_testimonials1Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DCDCDC;
   border-radius: 0px;
   text-align: center;
}
#testimonials1Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#testimonials1Card1-card-item0
{
   box-sizing: border-box;
   margin: 30px 50px 30px 50px;
   padding: 0;
   color: #737373;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
}
#testimonials1Card1-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 86px;
}
#testimonials1Card1-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 30px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#testimonials1Card1-card-item3
{
   box-sizing: border-box;
   margin: 0 30px 20px 30px;
   padding: 0;
   color: #7F7F7F;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 13px;
}
#testimonials1Card1-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card1-card-item4 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card1-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card1-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card1-card-item5 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card1-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card1-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card1-card-item6 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card1-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card1-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card1-card-item7 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card1-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card1-card-item8
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card1-card-item8 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card1-card-item8 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#wb_testimonials1Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DCDCDC;
   border-radius: 0px;
   text-align: center;
}
#testimonials1Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#testimonials1Card2-card-item0
{
   box-sizing: border-box;
   margin: 30px 50px 30px 50px;
   padding: 0;
   color: #737373;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
}
#testimonials1Card2-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 86px;
}
#testimonials1Card2-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 30px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#testimonials1Card2-card-item3
{
   box-sizing: border-box;
   margin: 0 30px 20px 30px;
   padding: 0;
   color: #7F7F7F;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 13px;
}
#testimonials1Card2-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card2-card-item4 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card2-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card2-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card2-card-item5 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card2-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card2-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card2-card-item6 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card2-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card2-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card2-card-item7 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card2-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card2-card-item8
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card2-card-item8 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card2-card-item8 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#wb_testimonials1Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 0%;
   align-self: auto;
   box-sizing: border-box;
   margin: 30px 10px 30px 10px;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DCDCDC;
   border-radius: 0px;
   text-align: center;
}
#testimonials1Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#testimonials1Card3-card-item0
{
   box-sizing: border-box;
   margin: 30px 50px 30px 50px;
   padding: 0;
   color: #737373;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
}
#testimonials1Card3-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   border: 0px solid #FFFFFF;
   border-radius: 50%;
   max-width: 86px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   height: 86px;
}
#testimonials1Card3-card-item2
{
   box-sizing: border-box;
   margin: 0 30px 10px 30px;
   padding: 0;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#testimonials1Card3-card-item3
{
   box-sizing: border-box;
   margin: 0 30px 20px 30px;
   padding: 0;
   color: #7F7F7F;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 13px;
}
#testimonials1Card3-card-item4
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card3-card-item4 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card3-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card3-card-item5
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card3-card-item5 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card3-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card3-card-item6
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card3-card-item6 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card3-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card3-card-item7
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #F0AD4E;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card3-card-item7 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card3-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#testimonials1Card3-card-item8
{
   display: inline-block;
   height: 16px;
   box-sizing: border-box;
   margin: 0 0 30px 0 ;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #CCD6DF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
}
#testimonials1Card3-card-item8 a
{
   color: inherit;
   display: block;
   padding: 0;
   text-decoration: none;
}
#testimonials1Card3-card-item8 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 16px;
   width: 16px;
}
#wb_testimonials4LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F8F8F8;
   background-image: none;
   border: 0px solid #D2D2D2;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#testimonials4LayoutGrid
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#testimonials4LayoutGrid > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#testimonials4LayoutGrid > .row > .col-1, #testimonials4LayoutGrid > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#testimonials4LayoutGrid > .row > .col-1, #testimonials4LayoutGrid > .row > .col-2
{
   float: left;
}
#testimonials4LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#testimonials4LayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#testimonials4LayoutGrid:before,
#testimonials4LayoutGrid:after,
#testimonials4LayoutGrid .row:before,
#testimonials4LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#testimonials4LayoutGrid:after,
#testimonials4LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#testimonials4LayoutGrid > .row > .col-1, #testimonials4LayoutGrid > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_testimonials4Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#testimonials4Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#testimonials4Card1-card-item0
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
}
#testimonials4Card1-card-item0 i
{
   color: #0D6EFD;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#testimonials4Card1-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
}
#testimonials4Card1-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   margin: 0;
}
#testimonials4Card1-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#testimonials4Card1-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 20px 20px;
   padding: 0;
}
#testimonials4Card1-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
}
#wb_testimonials4Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#testimonials4Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#testimonials4Card2-card-item0
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
}
#testimonials4Card2-card-item0 i
{
   color: #0D6EFD;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#testimonials4Card2-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
}
#testimonials4Card2-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   margin: 0;
}
#testimonials4Card2-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#testimonials4Card2-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 20px 20px;
   padding: 0;
}
#testimonials4Card2-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
}
#wb_testimonials4Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#testimonials4Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#testimonials4Card3-card-item0
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
}
#testimonials4Card3-card-item0 i
{
   color: #0D6EFD;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#testimonials4Card3-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
}
#testimonials4Card3-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   margin: 0;
}
#testimonials4Card3-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#testimonials4Card3-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 20px 20px;
   padding: 0;
}
#testimonials4Card3-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
}
#wb_testimonials4Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#testimonials4Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#testimonials4Card4-card-item0
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
}
#testimonials4Card4-card-item0 i
{
   color: #0D6EFD;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#testimonials4Card4-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
}
#testimonials4Card4-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   margin: 0;
}
#testimonials4Card4-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#testimonials4Card4-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 20px 20px;
   padding: 0;
}
#testimonials4Card4-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F8F8F8;
   background-image: none;
   border: 0px solid #D2D2D2;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 50px 15px 50px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
}
#Card1-card-item0 i
{
   color: #0D6EFD;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
}
#Card1-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   margin: 0;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card1-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 20px 20px;
   padding: 0;
}
#Card1-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
}
#wb_Card2
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#Card2-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card2-card-item0
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
}
#Card2-card-item0 i
{
   color: #0D6EFD;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
}
#Card2-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   margin: 0;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card2-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 20px 20px;
   padding: 0;
}
#Card2-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
}
#wb_Card3
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#Card3-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card3-card-item0
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
}
#Card3-card-item0 i
{
   color: #0D6EFD;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
}
#Card3-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   margin: 0;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card3-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 20px 20px;
   padding: 0;
}
#Card3-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   text-align: left;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 10px 20px 20px 20px;
   padding: 0;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 32px;
}
#Card4-card-item0 i
{
   color: #0D6EFD;
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 32px;
   width: 32px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: 0 20px 20px 20px;
   padding: 0;
}
#Card4-card-item1 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: italic;
   font-size: 16px;
   margin: 0;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 0 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card4-card-item3
{
   box-sizing: border-box;
   margin: 20px 0 20px 20px;
   padding: 0;
}
#Card4-card-item3 h1
{
   color: #212529;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 16px;
   margin: 0;
}
#wb_form5LayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#form5LayoutGrid
{
   box-sizing: border-box;
   padding: 50px 0 50px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#form5LayoutGrid > .row
{
   margin-right: 0;
   margin-left: 0;
}
#form5LayoutGrid > .row > .col-1, #form5LayoutGrid > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#form5LayoutGrid > .row > .col-1, #form5LayoutGrid > .row > .col-2
{
   float: left;
}
#form5LayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 50%;
   text-align: left;
}
#form5LayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   width: 50%;
   text-align: left;
}
#form5LayoutGrid > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 25px 25px 25px 25px;
}
#form5LayoutGrid:before,
#form5LayoutGrid:after,
#form5LayoutGrid .row:before,
#form5LayoutGrid .row:after
{
   display: table;
   content: " ";
}
#form5LayoutGrid:after,
#form5LayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#form5LayoutGrid > .row > .col-1, #form5LayoutGrid > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_form5Heading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 10px 0 10px 0;
   text-align: left;
}
#form5Heading
{
   color: #0D6EFD;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_form5Text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 0 10px 0;
   margin: 0;
   text-align: left;
}
#wb_form5Text
{
   color: #4F4F4F;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_form5Text div
{
   text-align: left;
}
#wb_form5Text
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_form5Icon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0 0 20px 0 ;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#form5Icon1
{
   height: 64px;
   width: 64px;
}
#form5Icon1 i
{
   color: #0D6EFD;
   display: inline-block;
   font-size: 64px;
   line-height: 64px;
   vertical-align: middle;
   width: 64px;
}
#wb_form5Icon1:hover #form5Icon1 i
{
   color: #0D6EFD;
}
#form5Name
{
   box-sizing: border-box;
   line-height: 22px;
   margin: 5px 0 10px 0 ;
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#form5Name:focus
{
   border-color: #1ABC9C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(26,188,156,0.60);
   outline: 0;
}
#form5Email
{
   box-sizing: border-box;
   line-height: 22px;
   margin: 5px 0 10px 0 ;
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
}
#form5Email:focus
{
   border-color: #1ABC9C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(26,188,156,0.60);
   outline: 0;
}
#form5Comments
{
   box-sizing: border-box;
   border: 2px solid #ECF0F1;
   border-radius: 6px;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   text-align: left;
   padding: 8px 12px 8px 12px;
   margin: 5px 0 10px 0 ;
   overflow: auto;
   resize: none;
}
#form5Comments:focus
{
   border-color: #1ABC9C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(26,188,156,0.60);
   outline: 0;
}
#form5Button
{
   border: 1px solid #0D6EFD;
   border-radius: 6px;
   background-color: #0D6EFD;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 15px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 10px 0 10px 0 ;
}
#form5Button:focus
{
   outline: 0;
}
#wb_form5Note 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 10px 0 10px 0;
   margin: 0;
   text-align: left;
}
#wb_form5Note
{
   color: #B22222;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_form5Note div
{
   text-align: left;
}
#wb_form5Note
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
